services:
  bot:
    build: .
    restart: always
    env_file:
      - ./.env
    depends_on:
      - db
    networks:
      - illuminat-network

  db:
    image: postgres:latest
    restart: always
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - postgres_backup:/backups
    networks:
      - illuminat-network

volumes:
  postgres_data:
  postgres_backup:

networks:
  illuminat-network:
    driver: bridge
